h1{
    color: rgb(31, 190, 10);
    background-color: darkmagenta;
}
body{
    background-color: rgb(0, 0, 0);
}
p.Parrafosprincipales{
    color: rgb(255, 255, 255);
}
p.Parrafosec{
    color: rgb(195, 214, 23);
}
#PWW{
    color: orange;
}