h1{
    color: rgb(31, 190, 10);
    background-color: darkmagenta;
}
body{
    background-color: rgb(226, 207, 207);
}
p.Parrafosprincipales{
    color: rgb(206, 66, 66);
}
p.Parrafosec{
    color: rgb(195, 214, 23);
}
#PWW{
    color: orange;
}
h1 mark{
    background-color: aqua;
}
p mark{
    background-color: lime;
}