body{
    background-color: rgb(240, 219, 219);
}

dd{
    color: rgb(0, 0, 0);
}

dt mark{
    background-color: blue;
    color: mistyrose;
    border-width: 1px;
    border-style: dotted;
    border-color: rgb(255, 0, 0);
}
 li{
    list-style-type: square;
    text-align: center;
 }
 p {
    width: 600px;
    height: 100px;
    box-sizing: content-box;
    border: red 5px solid;
    text-align: center;
  }

  ul {
    list-style-image: url("Img/check1.png");
  }