body{
    background-color: rgb(160, 219, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

dt.textocolor1{
    color: rgb(124, 248, 0);
    background-color: aliceblue;
}
h1{
    font-size: xx-large;
}